{% extends "onlinetest/header.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: justify">
            <br>
            <a href="/about" class="btn btn-primary"> <b style="font-size:larger">About the website </b></a>
            <br><br>
            <p><b>
                This project was conceptualised and designed during the <b class="yell">TCS Remote Summer Internship Programme 2017</b>,
                under the mentorship of Mr. Vaibhav Sharma. The website is designed and maintained by three students from
                <b class="blue"> School of
                Information and Communication Technology.</b> Their details are given below under the Contact
                Details segment.</b>
                </b>
            </p>
            <p><b>The portal helps you take online tests that too <b class="green"> free of cost.</b> There is both student
                login and a client login facility availabe.<b class="yell"> Online Examination System </b> is a website that
                can be used for business and training tests, recruitment and pre - employment assessments, health and safety
                quizzes. <br><br>It fulfills the requirements of the organizations/institutes to conduct the exams online.
                They do not have to go to any <b class="green">software developer</b> to make a separate site for being able
                to <b class="blue">conduct exams online.</b> They just have to register on the site and enter the exam details
                (exam duration, excel file).<br><br> Students can give exam without the need of going to any <b class="yell">physical destination.</b>                They can view the result at the same time. Administrator has a privilege to create, modify and delete the
                test papers and its questions. User can register, login and give the test with his specific <b class="blue">id.</b>                Organizations can view the records of the enrolled students and can analyse the marks of those students who
                had taken the test. Students get to know their<b class="green"> results immediately</b> after submission
                of the test through a pop-up. <br><br>Thus, the <b class="yell">purpose</b> of the site is to provide a system
                that saves the <b class="blue">efforts</b> and time of both the institutes and the students and hence conduct
                online examination in an organised and efficient manner.<br><br>


                </b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Our Team </h3>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://avatars7.githubusercontent.com/u/16598358?v=4&s=300"  alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Deepak Balhara</h4>
                        <p>Email : privacyismyth@gmail.com</p>
                        <p>Webite : <a target="_blank" href="https://deepakbalhara.me">deepakbalhara.me</a></p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.facebook.com/balharax" target="=_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/privacyismyth" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/deepakbalhara/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Deepak Balhara</h5>
                <span>Web Designer & Developer</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://avatars7.githubusercontent.com/u/20264412?v=4&s=300" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Divesh Bisht</h4>
                        <p>doubledeep007@gmail.com</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.facebook.com/divesh.bisht.31" target="=_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/DiveshBisht" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/divesh-bisht-861a79127/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Divesh Bisht</h5>
                <span>Web Designer & Developer</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://res.cloudinary.com/dqgw7dl8z/image/upload/c_scale,h_300,w_300/v1500393741/Photo_hgldxx.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Shivangi Chauhan</h4>
                        <p>shivangichauhan06@gmail.com</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.facebook.com/shivangi.chauhan.39" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"target="_blank"></i></a>
                        <a href="https://www.linkedin.com/in/shivangi-chauhan-1b607b10a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Shivangi Chauhan</h5>
                <span>Web Designer & Developer</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}