<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'onlinetest/css/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'onlinetest/css/imagehover.min.css' %}" type="text/css" />
</head>

<body style="height: 100%">
    <div style="min-height: 87.6%">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ONLINE EXAMINATION</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">CLIENT PROFILE</a></li>
                        <li class="btn-trial"><a href="/clientlogout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div class="container" style="background: #fff;padding: 10px;border-radius:5px">
            <br>
            <br>
            <center>
                <a href="#" class="btn btn-primary btn-lg"><b>STUDENT MARKS INFORMATION</b></a>
            </center>
            <br>
            <table class="table table-striped" style="max-height: 400px;overflow: auto;border:5px solid #ccc">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Category </th>
                        <th>Test ID</th>
                        <th>Marks</th>
                        <th>Date/Time</th>
                    </tr>
                </thead>
                {% for i in stuMarks %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.testtitle }}</td>
                    <td>{{ i.ques_paper_id }}</td>
                    <td>{{ i.marks }}</td>
                    <td>{{ i.date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <center>
        <footer id="footer" class="footer" style="padding: 17px 0">
            Summer Internship Project - 2017
            <div class="credits">
                Designed and Developed for <a href="/"><b> TCS Remote Internship</b></a><br>
            </div>
            </div>
        </footer>
    </center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" Async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" Async integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>