<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Your Test
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'onlinetest/css/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'onlinetest/css/imagehover.min.css' %}" type="text/css" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{% static 'onlinetest/js/paginathing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.list-group').paginathing({
                perPage: 1,
                limitPagination: 9,
                containerClass: ''  //panel-footer
            })

        });
    </script>

</head>

<body style="background: #00a8b3;padding-top: 60px">
    
    <div class="container" style="background: #fff;padding: 2em;border-radius:5px; border: 5px solid black">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <button type="button" class="btn btn-success"><b style="text-transform: uppercase">WELCOME -  {{ user_id.name}}</b></button>
                </div>
                <div class="col-md-5">
                    <form method="POST" id="formid" action="{% url 'onlinetest:paper_submit' %}">
                        {% csrf_token %}
                        <input type="text" value="0" id="finalmarks" name="totalmarks" hidden>
                    </form>
                    <button class="btn btn-danger" type="button" onclick="submitTest()" value="Submit Test" style="font-weight: bolder">Submit Test</button>
                </div>
                <div class="col-md-2">
                    <div id="time" class="btn btn-success" style="font-weight: bolder">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row" style="padding-top: 5px">
                <div class="col-md-12">
                    <ul class="list-group">
                        {% for que in ques %}
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary"><b>Question - {{forloop.counter}}</b></button>
                                        <br>
                                        <br>
                                        <b>  {{ que.question }} </b> {% if question.option1 != "na" %}
                                        <div>
                                            <label>
                                                 <input type="radio" name="option{{forloop.counter}}" value="1" id="{{forloop.counter}}A">
                                                     {{ que.option1 }}
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="option{{forloop.counter}}" value="2" id="{{forloop.counter}}B">
                                                    {{ que.option2 }} 
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="option{{forloop.counter}}" value="3" id="{{forloop.counter}}C">
                                                {{ que.option3 }} 
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="radio" name="option{{forloop.counter}}" value="4" id="{{forloop.counter}}D">
                                                {{ que.option4 }} 
                                            </label>
                                            <br>
                                            <div>
                                                <input type="radio" value="{{que.answer}}" id="{{forloop.counter}}ANSWER" hidden>
                                                <input type="radio" value="{{timer.testduration}}" id="testduration1" hidden>
                                                <input type="radio" value="{{noOfQuestions}}" id="noOfQuestions" hidden>
                                                <!--name="option{{forloop.counter}}" - for radio button grouping-->
                                            </div>
                                        </div>
                                        {% else %} {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script>
            // Timer begins
            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    display.textContent = minutes + ":" + seconds;
                    if (--timer < 0) {
                        submitTest();
                    }
                }, 1000);
            }
            window.onload = function () {
                var testduration = document.getElementById('testduration1').value;
                var onehour = testduration * 60;
                display = document.querySelector('#time');
                startTimer(onehour, display);
            };
            // Timer Ends

            // Marks calculation begins
            function submitTest() {
                var marks = 0;
                var noOfQuestions = document.getElementById('noOfQuestions').value;
                var x = Number(noOfQuestions);
                for (var i = 1; i < x + 1; i++) {
                    if (document.getElementById(i + "A").checked) {
                        if (document.getElementById(i + "A").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "B").checked) {
                        if (document.getElementById(i + "B").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "C").checked) {
                        if (document.getElementById(i + "C").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else if (document.getElementById(i + "D").checked) {
                        if (document.getElementById(i + "D").value == document.getElementById(i + "ANSWER").value)
                            marks++;
                    }
                    else { }
                }
                // alert("Your Score - " + marks);
                document.getElementById('finalmarks').value = marks;
                alert("Your Score is - " + marks);
                $("#formid").submit();
            }
        // Marks calculations Ends
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" Async></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" Async integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>